[submodule "lib/oz"]
	path = lib/oz
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/filecoin-solidity"]
	path = lib/filecoin-solidity
	url = https://github.com/zondax/filecoin-solidity
[submodule "lib/forge-deploy-lite"]
	path = lib/forge-deploy-lite
	url = https://github.com/zapaz/forge-deploy-lite
